<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>test vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="input">
      <input v-model="surname" type="text"  placeholder="фамилия">
      <input v-model="name" type="text"  placeholder="имя">
      <input v-model="age" type="text" placeholder="возраст">
      <button v-on:click="showData" type="button" name="showData">showData</button>
      <div v-if="see">
        <p>Фамилия {{showSurname}}</p>
        <p>Имя {{showName}}</p>
        <p>Возраст {{showAge}}</p>
      </div>
    </div>

  <script src="js/vue.js"></script>
  </body>
</html>
